.full-width {
  width: 100%;
}

.row {
  display: block;
  width: 100%;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

#image-holder {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
