@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$money-back-app-primary: mat-palette($mat-cyan);
$money-back-app-accent:  mat-palette($mat-deep-orange);
$money-back-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$money-back-theme: mat-light-theme($money-back-app-primary, $money-back-app-accent, $money-back-app-warn);

$box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

$background: rgba(0, 0, 0, 0.1);
